name: tt_datasheet
# either manually started, or on a schedule
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *' # At 4:00 UTC everyday
jobs:
  build_datasheet:
    env:
        GH_TOKEN:       ${{ secrets.GH_TOKEN }}
        GH_USERNAME:    ${{ secrets.GH_USERNAME }}

    # ubuntu
    runs-on: ubuntu-latest
    steps:
    # need the repo checked out, and the tt_docs repo checked out
    - name: checkout repo
      uses: actions/checkout@v3
      with: 
        submodules: true

    # need python
    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.7.7'
        cache: 'pip'
    - run: pip install -r requirements.txt

    # fetch the repos
    - name: fetch all
      run: python ./configure.py --clone-all --debug

    # pandoc deps
    - name: Pandoc deps
      run: | 
        sudo apt-get update -y
        sudo apt-get install -y pandoc texlive-xetex

    # dump pdf
    - name: update datasheet
      run: python ./configure.py --dump-markdown datasheet.md --dump-pdf datasheet.pdf

    # archive the PDF
    - name: Archive PDF
      uses: actions/upload-artifact@v3
      with:
          name: PDF
          path: datasheet.pdf
